# docker-compose.yml

version: '3.7'

services:

  # 1. The "Victim" Application
  victim-app:
    build: .
    container_name: victim-app
    ports:
      - "5000:5000"
    restart: on-failure
    volumes:
      # Mount the code so the patcher can change it
      - .:/app
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "127.0.0.1:24224"
        tag: "app.victim"
    depends_on:
      - fluentd-logger

  # 2. The Log Stream
  fluentd-logger:
    container_name: fluentd-logger
    image: fluent/fluentd:v1.16-1
    volumes:
      - ./fluent.conf:/fluentd/etc/fluent.conf
    ports:
      - "24224:24224"
      - "24224:24224/udp"

  # 3. NEW: The "Nervous System" (Message Queue)
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # For agents to connect
      - "15672:15672" # For the web UI (user: guest, pass: guest)

  # 4. NEW: The Front-End Dashboard
  dashboard:
    container_name: dashboard
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "5001:5001" # We'll run the dashboard on port 5001
    depends_on:
      - rabbitmq